.venv/
dev
vscode/
.idea/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.ipynb_checkpoints/
*.coverage
*.coverage.*
*.tar.gz
*.zip
*.whl
*.env
.env.*
*.DS_Store
*.coverage
.coverage.*
*.mypy_cache/
*.pytest_cache/
*.tox/
*.coverage.xml
*.hypothesis/
*.coverage.data
*.coverage.json
*.coverage.html
*.coverage.txt
*.coverage.xml
*.coverage.*

wandb/